<div class="container">
  <div class="row mb-4 title">
    <h2 class="col">スポット紹介</h2>
    <div class="col"><%= link_to 'スポットを追加する', new_introduction_path, class: "fas fa-plus btn btn-info" %></div>
  </div>

  <%= render 'list', introductions: @introductions %>
</div>