<div class="container">
  <h2 class="row mt-4 mb-5">ようこそBook Tripへ</h2>
  <p>
    このサイトは、作家ゆかりの地や文学館、記念館、本のモデルになった場所などを紹介するためのものです。</br>
    お互いに紹介しながら、作家への興味・関心を深めてください。</br>
    </br>
    投稿記事に対して著作権やプライバシーを侵害すると判断した場合、ユーザの断りなく記事を削除する場合がございます。</br>
    ご了承ください。
  </p>
</div>