<div class="container">
  <h2 class="row mt-3 mb-4 title">ようこそBook Tripへ</h2>
  <div class="content">
    <h5>
      <i class="fas fa-bookmark"></i>
      <span class="mgr-10 sub-title">概要</span>
      </br>
      作家ゆかりの地や、文学館、本のモデルになった場所を紹介するサイトです。
      </br>
      </br>
      </br>

      <i class="fas fa-bookmark"></i>
      <span class="mgr-10 sub-title">BookTripのテーマ</span>
      </br>
      作家が紹介されている文学館やゆかりの地、本のモデルになった土地をユーザー同士で紹介しあい、情報を収集しやすくします。
      </br>
      紹介データが増え、調べやすくなることで、作家や本に興味を持つ人が詳細情報にアクセスする手助けになるサイトを目指しています。
      </br>
      </br>
      </br>

      <i class="fas fa-bookmark"></i>
      <span class="mgr-10 sub-title">BookTripへの思い</span>
      </br>
      このサイトは、作家ゆかりの地や文学館、記念館、本のモデルになった場所などを紹介するためのものです。
      </br>
      お互いに紹介しながら、作家への興味・関心を深めてください。
      </br>
      </br>
      </br>

      <i class="fas fa-bookmark"></i>
      <span class="mgr-10 sub-title">注意事項</span>
      </br>
      投稿記事に対して著作権やプライバシーを侵害すると判断した場合、ユーザの断りなく記事を削除する場合がございます。ご了承ください。
    </h5>
  </div>
</div>