// 共通
.content {
 background-color: #ffffff;
 padding: 10px 20px;
}


 // ユーザー側のCSS

 // main
 .user_main {
  background-color: #eee2d3;
  padding: 30px 0;
 }

 .nav-item {
  color: #c39c89;
 }



// footer
 .user_footer {
  background-color: #c39c89;
  padding: 5px 0;
 }

 .user_footer p {
  color: #7e5f4d;
 }

 // 管理者側のCSS

 // main
 .admin_main {
  background-color: #e8ecef;
  padding: 30px 0
 }

 .table_admin {
  border: 3px #ced7dc solid;
 }

// footer
 .admin_footer {
  background-color: #ced7dc;
  padding: 5px 0
 }

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');