// 共通
.content {
 background-color: #ffffff;
 padding: 10px 20px;
}

.must {
 color: #d9333f;
}


 // ユーザー側のCSS
 // main
 .user_main {
  background-color: #eee2d3;
  padding: 30px 0;
 }

 .nav-item {
  color: #c39c89;
 }

 .main-visual {
  width: 100%;
  height: 300px;
  background-image: image-url("home.jpg");
  background-size: cover;
  font-family: 'Kosugi Maru', sans-serif;
  color: white;
 }

 .main-visual-content {
  width: 100%;
  height: 300px;
  background: rgba( 0, 0, 0, 0.5);
 }

 .main-visual-content h2 {
  padding: 80px 0 0 50px ;
  opacity: 0.8;
 }

 .main-visual-content h4 {
  padding: 10px 0 0 50px ;
  opacity: 0.8;
 }

 .title {
  font-family: 'Kosugi Maru', sans-serif;
  color: #7e5f4d;
 }

 .content {
  background-color: #ffffff;
  padding: 10px 20px;
 }

 .content content-title {
  font-family: 'Kosugi Maru', sans-serif;
 }

 i {
  color: #e6b422;
 }

 .mgr-10 {
  margin-left: 10px;
 }

 .table_user {
  border: 3px #c39c89 solid;
 }

 .table_user thead{
  background-color: #e7b09f;
  border: 3px #c39c89 solid;
 }

 .table_user tbody {
  border: 1px #c39c89 solid;
 }

 .table_user tr {
  border: 2px #c39c89 solid;
 }

 .table_user th {
  background-color: #e7b09f;
 }

 .sub-title {
  font-family: 'Kosugi Maru', sans-serif;
  color: #7e5f4d;
 }


// footer
 .user_footer {
  background-color: #c39c89;
  padding: 5px 0;
 }

 .user_footer p {
  color: #7e5f4d;
 }

 // 管理者側のCSS
 // main
 .admin_main {
  background-color: #e8ecef;
  padding: 30px 0
 }

 .table_admin {
  border: 3px #ced7dc solid;
 }

// footer
 .admin_footer {
  background-color: #ced7dc;
  padding: 5px 0
 }

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');