<nav class="navbar navbar-expand navber-light">
  <a href="/admin" class="navber-brand"><%= image_tag "horizontal_on_white_by_logaster_admin.png", size: '220x100' %></a>
  <ul class="nav nav-tabs nav-fill ml-auto">
    <li class="nav-item">
      <%= link_to "ユーザ一覧", admin_users_path, class:"nav-link active" %>
    </li>

    <li class="nav-item">
      <%= link_to "投稿一覧", admin_root_path, class:"nav-link active" %>
    </li>

    <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link active" %>
    </li>
  </ul>
</nav>